body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: fit-content;
    min-width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

main {
    height: fit-content;
    width: 320px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}

button {
    display: flex;
    font-size: larger;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 0;
    opacity: 1;
}

button:hover {
    opacity: 0.5;
}

button:active {
    opacity: 1;
}

#screen {
    background-color:lightgrey;
    flex: 1 4 25%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.displayText {
    display: flex;
    height: 45px;
    margin: 0px;
    text-align: end;
    overflow-x: hidden;
    align-items: center;
    justify-content: flex-end;
}

#buttons {;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 4 1 75%;
    border-radius: 5px;
}

#topRow,
#bottomRow {
    width: 100%;
    display: flex;
}

#topRow {
    flex: 1 0 auto;
}

#bottomRow {
    flex: 3 0 auto;
}

#leftButtons,
#rightButtons {
    display: flex;
}

#leftButtons {
    flex-wrap: wrap;
    align-content: center;
    flex: 4 1 100%;
}

#rightButtons {
    flex-direction: column;
    flex: 1 4 100%;
}

.largeButtons {
    flex: 2 1 130px;
}

#ac{
    background-color: rgb(130, 130, 130);
}

.operation {
    background-color: orange;
}